.heading {
    font-size: 35px;
    font-weight: 600;
    color: var(--blueDark);
    margin-bottom: 32px;
}
/* 
.navbar {
    margin-left: 100px;
    color: black;
} */

.dropdown {
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
    margin-top: 2px;
}

.dropdown-label {
    margin-top: 16px;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.dropdown-component{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--white-shadow);
    height: 100%;
    position: relative;
    border-radius: 12px;
    color: var(--fadedGray);
    margin-top: 16px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
}

.selected-options-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;   
}

.dropdown-options {
    position: absolute;
    bottom: -10px;
    left: 0px;
    transform: translateY(100%);
    background-color: var(--white);
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    /* max-height: 310px; */
    overflow: scroll;
}

.dropdown-option {
    padding: 12px;
}

.but {
    margin-top: -180px;
    position: absolute;
    right: 280px;
    width: 90px;
    height: 33px;
    border-color: red;
    border-radius: 7px;
    font: bold;
    background: var(--white-shadow);
}

.but:hover {
    color: var(--blueDark);
    transition: 0.8s ease-in-out;
    font: bold;
}

.dropdown-option:hover {
    color: var(--white);
    background-color: var(--blueDark);
}

@media only screen and (max-width: 600px){
    .heading {
        font-size: 20px;
    }

    .dropdown-label {
        font-size: 14px;
    }
}